.card{
    width: 18rem;
    height: 30 rem;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.card h2, .card p {
    margin: 5px 0;
}
