.shop_container {
    width: 18rem;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px; 
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    background-color: #f8f9fa;
}

.shop_container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}